<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.leedh.mapper.PjtMapper">


    <!--프로젝트 등록-->
    <insert id="pjtRegister" parameterType="PjtVO">

        insert into FL_PROJECT
        values (#{pjtC},
                #{pjtOrgC},
                #{pjtDivC},
                #{pjtStC},
                #{pjtClient},
                #{pjtNm},
                #{pjtEmpList},
                #{pjtPm},
                #{pjtStartDate},
                #{pjtEndDate},
                #{pjtEndYn})
    </insert>

	<!-- 프로젝트 전체 호출 -->
    	<select id="pjtShow" parameterType="PjtVO" resultType="org.leedh.project.vo.PjtVO">
		SELECT 
		PJT_C as pjtC, 
		PJT_ORG_C as pjtOrgC,
		PJT_DIV_C as pjtDivC, 
		PJT_ST_C as pjtStC,
		PJT_CLIENT as pjtClient,
		PJT_NM as pjtNm,
		PJT_EMP_LIST as pjtEmpList,
		PJT_PM as pjtPm,
		PJT_START_DATE as pjtStartDate,
		PJT_End_DATE as pjtEndDate,
		PJT_END_YN as pjtEndYn
		FROM FL_PROJECT
	</select>

</mapper>